<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Acg{% block title %}{% endblock %}</title>
{% block stylesheets %}

    {% stylesheets filter='cssrewrite'
        'bundles/acgteste/css/bootstrap.min.css'
        'bundles/acgteste/css/custom.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="#">About</a></li>
                    <li role="presentation"><a href="#">Contact</a></li>
                </ul>
            </nav>
            <h3 class="text-muted"></h3>
        </div>
        {% block body %}

        {% endblock %}

        <footer class="footer">
            <p>&copy; Company 2014</p>
        </footer>

    </div> <!-- /container -->

{% block javascripts %}
    {% javascripts
    'bundles/acgteste/js/jquery-1.11.3.min.js'
    'bundles/acgteste/js/bootstrap.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}
</body>