{% extends 'AcgTesteBundle::layout.html.twig' %}
{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    {{ form_start(edit_form) }}

    <div class="row">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="acg_testebundle_produtos_titulo">Título</label>
            <div class="col-sm-4">
                {{ form_widget(edit_form.titulo,{'label': 'Título'}) }}
            </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="acg_testebundle_produtos_categorias">Categoria</label>
            <div class="col-sm-3">
                {{ form_widget(edit_form.categorias,{'label': 'Categoria'}) }}
            </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="acg_testebundle_produtos_descricao">Descrição</label>
            <div class="col-sm-5">
                {{ form_widget(edit_form.descricao,{'label': 'Descricao', 'attr': {
                    'placeholder': 'Descrição',
                    'rows': 5,
                    'cols': 30
                }}) }}
            </div>
        </div>
    </div>
<br>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-2">
                {{ form_widget(edit_form.ativo,{'label': 'Ativo'}) }}
            </div>
        </div>
    </div>

    {{ form_end(edit_form) }}
    <a href="{{ path('acg_index') }}">Voltar</a>
{% endblock %}