{% extends 'AcgTesteBundle::layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    {% stylesheets filter='cssrewrite'
    'bundles/acgteste/css/dataTables.bootstrap.min.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock %}
{% block body %}

    {% if app.session.flashBag.has('success') %}
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {% for msg in app.session.flashBag.get('success') %}
                {{ msg }}
            {% endfor %}
        </div>
    {% endif %}


    <table id="listagemProdutos" class="table table-bordered table-responsive" >
        <thead>
        <tr>
            <th>id</th>
            <th>titulo</th>
            <th>Categoria</th>
            <th>ativo</th>
            <th width="5%">Ação</th>
        </tr>
        </thead>
        <tbody>
        {% for produto in produtos %}
        <tr>
            <td>{{ produto.id }}</td>
            <td>{{ produto.titulo }}</td>
            <td>{{ produto.categorias.titulo }}</td>
            <td>{{ produto.ativo }}</td>
            <td>
                <a href="{{ path('acg_show', {'id': produto.id}) }}" data-toggle="modal" data-target="#detalhesModal-{{ produto.id }}">
                    <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                </a>
                <a href="{{ path('acg_edit', {'id': produto.id}) }}">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
                <a href="{{ path('acg_delete', {'id': produto.id}) }}"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
            </td>
        </tr>

            <!-- Modal -->
            <div class="modal fade" id="detalhesModal-{{ produto.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Detalhe do Produto</h4>
                        </div>
                        <div class="modal-body">
                            Carregando...
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        </div>
                    </div>
                </div>
            </div>

        {% endfor %}
        </tbody>
    </table>
    <br>

    <a href="{{ path('acg_new') }}" class="btn btn-success" data-toggle="modal" data-target="#novoModal">Novo</a>

    <!-- Novo Modal -->
    <div class="modal fade" id="novoModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Cadastro do Produto</h4>
                </div>
                <div class="modal-body">
                    Carregando...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


    {% block javascripts %}
        {{ parent() }}
        {% javascripts
        'bundles/acgteste/js/jquery.dataTables.min.js'
        'bundles/acgteste/js/dataTables.bootstrap.min.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        <script language="JavaScript">
            $("#listagemProdutos").DataTable({
                "bPaginate": true,
                "bLengthChange": true,
                "bFilter": true,
                "bSort": true,
                "bInfo": true,
                "bAutoWidth": false,
                "oLanguage": {
                    "sProcessing": "Processando...",
                    "sLengthMenu": "Mostrar _MENU_ registros",
                    "sZeroRecords": "Não foram encontrados resultados",
                    "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando de 0 até 0 de 0 registros",
                    "sInfoFiltered": "",
                    "sInfoPostFix": "",
                    "sSearch": "Buscar:",
                    "sUrl": "",
                    "oPaginate": {
                        "sFirst": "Primeiro",
                        "sPrevious": "<<",
                        "sNext": ">>",
                        "sLast": "Último"
                    }
                }
            });
        </script>
    {% endblock %}
{% endblock %}