{% form_theme form 'bootstrap_3_layout.html.twig' %}
<div class="modal-content">
    {{ form_start(form) }}

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Cadastro do Produto</h4>
    </div>
    <div class="modal-body">

    <div class="row">
        <div class="form-group">
            <div class="col-sm-4">
                {{ form_widget(form.titulo,{'label': 'Título', 'attr': {
                    'placeholder': 'Título'
                }}) }}
            </div>

            <div class="col-sm-5">
                {{ form_widget(form.categorias,{'label': 'Categoria'}) }}
            </div>
        </div>
    </div>
    <br>
    <div class="row">

    </div>
    <br>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-9">
                {{ form_widget(form.descricao,{'label': 'Descricao', 'attr': {
                    'placeholder': 'Descrição',
                    'rows': 5,
                    'cols': 30
                }}) }}
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="form-group">
            <div class="col-sm-2">
                {{ form_widget(form.ativo,{'label': 'Ativo'}) }}
            </div>
        </div>
    </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button
        <button type="button" class="btn btn-primary">{{ form_widget(form.submit) }}</button>
    </div>
    {{ form_end(form) }}

</div>