<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Detalhe do Produto</h4>
    </div>
    <div class="modal-body">
        ID: {{ produto.id }}
        <br>
        Titulo: {{ produto.titulo }}
        <br>
        Categoria: {{ produto.categorias }}
        <br>
        <br>    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
    </div>
</div>
</div>




